.footer {
  background-color: $--color-default;
  padding: 35px 0;

  .footer-row {
    display: flex;

    .footer-column {

      &:nth-of-type(1) {
        width: 42%;
        padding-right: 75px;
        position: relative;

        &:after {
          content: "";
          display: block;
          height: 100%;
          width: 1px;
          background-color: #343434;
          position: absolute;
          top: 0;
          right: 0;
        }

      }

      &:nth-of-type(2) {
        width: 38%;
        padding-left: 55px;
        padding-right: 80px;
      }
      &:nth-of-type(3) {
        width: 25%;
      }
    }
  }

  .footer-logo {
    margin-bottom: 30px;

    img {
      max-width: 173px;
      width: 100%;
      object-fit: contain;
    }
  }

  .footer-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: $--color-white;
    margin-bottom: 10px;
  }

  .footer-description {
    margin-bottom: 20px;

    p {
      color: $--color-grey-fourth;
    }

  }

  .footer-policy {

    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      color: $--color-grey-second;
    }

  }

  .footer-contacts {
    margin-bottom: 45px;

    .footer-contact-item {
      width: 100%;
    }

    p, a {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: $--color-grey-fifth;
    }

    a:hover {
      color: $--color-second;
    }

  }

  .link-orange {
    color: $--color-second;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;

    &:hover {
      color: $--color-white;
    }
  }

  .footer-form {

    form {
      width: 100%;

      .input-wrapper {
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }

        input[type="text"] {
          font-size: 16px;
          font-weight: 600;
          line-height: 27px;
          color: #ffffff80;
          border: 1px solid $--color-grey-fifth;
          background: transparent;
          max-width: 270px;
          width: 100%;
          padding: 0 15px;
          height: 40px;

          &::placeholder {
            font-size: 16px;
            font-weight: 600;
            line-height: 27px;
            color: #ffffff80;
          }
        }

        .btn {
          max-width: 270px;
          width: 100%;
          border: none;

          &:hover {
            background-color: $--color-white;
            color: $--color-default;
          }
        }

      }
    }
  }

}