.header {
  padding: 25px 0;

  .row {
    align-items: center;
  }

  .logo {

    img {
      max-width: 173px;
      width: 100%;
      object-fit: contain;
    }
  }

  .header-phone {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      display: flex;
      align-items: center;

      &:hover {
        color: $--color-second;
      }

      &:before {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        min-width: 18px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(../img/icons/phone-ico-red.svg);
        margin-right: 15px;
      }
    }
  }

}