//
// Project Variables
//

/* fonts */
$--font-default: "Mukta";

/* colors */
$--color-default: #000;
$--color-second: #C53030;
$--color-white: #fff;
$--color-grey: #F6F4F3;
$--color-grey-second: #656565;
$--color-grey-third: #A1A1A1;
$--color-grey-fourth: #A8A8A8;
$--color-grey-fifth: #FFFDFC;