* {
  font-family: $--font-default;
  color: $--color-default;
}

a {
  transition: 0.3s;
  text-decoration: none;
}

.text-description {

  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
}

h1 {
  font-size: 69px;
  font-weight: 800;
  line-height: 115px;
  color: $--color-second;
}

h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 47px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 33px;
}

.title-wrapper-orange {

  h2 {
    color: $--color-second;
  }
}