.accordion {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .accordion-item {
    transition: all 0.3s;
    overflow: hidden;

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    .accordion-item-inner {
      padding: 15px;
      border: 1px solid #DCDCDC;
      border-radius: 0 0 10px 10px;
    }

    .accordion-item-header {
      width: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      transition: all ease 0.3s;
      justify-content: space-between;
      padding: 15px 68px 15px 15px;
      border: 1px solid #DCDCDC;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      line-height: 28px;
      position: relative;

      &:after {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(../img/icons/accordion-item-arrow.svg);
        position: absolute;
        right: 15px;
        transition: 0.3s;
      }
    }

    .accordion-item-content {
      overflow: hidden;
      width: 100%;
      transition: height 0.5s ease-in-out;
      height: 0;

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
      }


    }


  }

  .accordion-item.active {
    transition: all 2s;

    .accordion-item-inner {
      border-top: 0;
    }

    .accordion-item-header {
      border-radius: 10px 10px 0 0;

      &:after {
        transform: scale(-1);
      }
    }

    .accordion-item-content {
      transition: height 0.5s ease-in-out;
    }
  }

}