.banner-block {
  background: linear-gradient(96.33deg, #6C6C6C 0.4%, #A0A0A0 117.78%);
  height: 500px;
  margin: 120px 0;

  .container {
    align-items: center;
    height: inherit;
    position: relative;
  }

  .title-wrapper {
    margin-bottom: 15px;

    h2 {
      color: $--color-white;
      max-width: 70%;
    }
  }

  .text-description {

    p {
      color: $--color-white;
      max-width: 82%;
    }
  }

  .banner-block-image {

    &:after {
      content: "";
      display: block;
      height: 500px;
      width: 720px;
      background-image: url(../img/banner-block-decor.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 10%;
      z-index: 0;
    }

    img {
      max-width: 427px;
      height: 546px;
      width: 100%;
      object-fit: contain;
      position: absolute;
      bottom: 0;
      z-index: 1;
    }
  }

}