.callback {
  background-color: $--color-second;
  padding: 125px 0;
  margin: 130px 0 120px;
  background-image: url(../img/callback-back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    h2 {
      color: $--color-white;
      text-align: center;
      max-width: 40%;
    }
  }

  .text-description {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    p {
      color: $--color-white;
      max-width: 50%;
      text-align: center;
    }
  }

  .callback-content {
    position: relative;
    z-index: 1;
  }

  .callback-form {
    max-width: 50%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 1;

    form {
      width: 100%;
      display: flex;

      .input-wrapper {
        padding: 0 15px;
        width: 50%;
      }

      .btn {
        width: 100%;
        border: none;

        &:hover {
          background-color: $--color-white;
          color: $--color-default;
        }
      }

      input {
        max-width: 100%;
        width: 100%;
      }

      input[type="text"] {
        border: 1px solid $--color-white;
        padding: 0 15px;
        height: 40px;
        background: transparent;
        font-size: 16px;
        font-weight: 600;
        line-height: 27px;
        color: #fff;

        &::placeholder {
          font-size: 16px;
          font-weight: 600;
          line-height: 27px;
          color: #ffffff80;
        }
      }
    }
  }
}