.image-with-text {

  .title-wrapper {
    margin-bottom: 15px;

    h2 {

    }
  }

  .text-description {
    margin-bottom: 30px;
  }

  .btn {

  }

  .image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(96.33deg, #A8A8A8 0.4%, #C8C8C8 117.78%);
    height: 279px;
    border-radius: 10px;

    &:before {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 279px;
      border-radius: 10px;
    }

    img {
      width: 100%;
      object-fit: contain;
      position: absolute;
      bottom: 0;
    }
  }

}

.image-with-text-first {
  margin: 150px 0 135px;

  .image-with-text-content {
    padding-left: 100px;
  }

  .image-wrapper {

    &:before {
      content: "";
      display: block;
      background-image: url(../img/text-image-decor1.png);
      width: 280px;
      right: 0;
    }

    img {
      max-width: 291px;
      height: 369px;
    }
  }
}

.image-with-text-second {
  margin: 135px 0 180px;
  .image-with-text-content {
    padding-right: 100px;
  }
  .image-wrapper {

    &:before {
      content: "";
      display: block;
      background-image: url(../img/text-image-decor2.png);
      width: 400px;
      left: 0;
      height: 200px;
      border-radius: 0;
    }

    img {
      max-width: 315px;
      height: 323px;
    }
  }
}

.image-with-text-third {
  margin: 180px 0 130px;

  .image-with-text-content {
    padding-top: 60px;
  }

  .title-wrapper {

    h2 {
      color: $--color-second;
      font-size: 45px;
      line-height: 47px;
    }
  }

  .text-description {

    p {
      max-width: 85%;
    }
  }

  .image-wrapper {
    background: none;
    height: initial;

    img {
      position: initial;
      max-width: 358px;
      height: initial;
    }
  }
}