.testimonials {
  margin: 150px 0 120px;

  .title-wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .testimonial-card {
    padding: 20px;
    border-radius: 10px;
    background-color: $--color-grey;

    .testimonial-author {
      font-size: 16px;
      font-weight: 600;
      line-height: 28px;
      color: $--color-grey-third;
      margin-bottom: 5px;
    }

    .testimonial-tag {
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 10px;
    }

  }


}