<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<%= _.template(require('../includes/main-banner.html').default)({}) %>

<%= _.template(require('../includes/diagrams-block.html').default)({}) %>

<%= _.template(require('../includes/content-block.html').default)({}) %>

<%= _.template(require('../includes/cards-section.html').default)({}) %>

<%= _.template(require('../includes/banner-block.html').default)({}) %>

<%= _.template(require('../includes/service-block.html').default)({}) %>

<%= _.template(require('../includes/promo-block.html').default)({}) %>

<%= _.template(require('../includes/about-block.html').default)({}) %>

<section class="image-with-text image-with-text-first">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="image-wrapper">
                    <img src="./img/text-image-block1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="image-with-text-content">
                    <div class="title-wrapper">
                        <h2>Hormone Optimization for Women and Men</h2>
                    </div>
                    <div class="text-description">
                        <p>Our tailored approach includes specialized care for both men and women. Whether you’re seeking hormone optimization for women or advanced male hormone replacement therapy, our team ensures you’re supported at every stage.</p>
                    </div>
                    <a href="#" class="btn btn-orange">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-with-text image-with-text-second">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="image-with-text-content">
                    <div class="title-wrapper">
                        <h2>Family Health and Wellness Services</h2>
                    </div>
                    <div class="text-description">
                        <p>Health and vitality are a family affair. Our comprehensive family health and wellness services provide solutions for all members, helping everyone achieve their best health.</p>
                    </div>
                    <a href="#" class="btn btn-orange">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="image-wrapper">
                    <img src="./img/text-image-block2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-with-text image-with-text-third">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="image-wrapper">
                    <img src="./img/text-image-block3.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="image-with-text-content">
                    <div class="title-wrapper">
                        <h2>Your Premier Miami Wellness Center</h2>
                    </div>
                    <div class="text-description">
                        <p>Located in the heart of Miami, our hormone therapy clinic combines convenience, expertise, and comfort. We’re proud to serve as a trusted resource for those searching for hormone replacement therapy in Miami or an elite health lounge where care meets innovation.</p>
                    </div>
                    <a href="#" class="btn btn-black">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>

<%= _.template(require('../includes/callback-block.html').default)({}) %>

<%= _.template(require('../includes/promo-block-second.html').default)({}) %>

<%= _.template(require('../includes/faq-block.html').default)({}) %>

<%= _.template(require('../includes/testimonials.html').default)({}) %>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>
